* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

h2,
h3,
p,
a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
h4 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1,
h2,
h3,
p,
a {
    color:#ffffff
}

p {
    font-size: 16px;
}


header {
    padding: 20px;
    background-color: #2a607c;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 #seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
}

figure img{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}


main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

article img {
    max-height: 200px;
}

article h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

section {
    margin-bottom: 32px;
}

section h3 {
    margin-bottom: 10px;
    text-align: center;
}

section img {
    display: block;
    margin: 10px auto;
    max-width: 150px
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}

footer #black {
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
